@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brad Stratton - @ViewBag.Title</title>
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    @Scripts.Render("~/Scripts/prettify")
    @Styles.Render("~/Styles/prettify")
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/custom")

</head>
<body>

    @Html.Partial("Navbar")

    <div class="body-content">
        @RenderBody()

        @Html.Partial("Footer")
    </div>

    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/custom")
    <script>
        //UI Events
        (function (helper) {
            helper.bindPageEvents();
        })(navbarHelper);

        //Google Analytics
        (function (helper) {
            helper.init();
            helper.trackPage();
            helper.trackResumeClicks();
        })(googleAnalytics);
    </script>

</body>
</html>